@import "tailwindcss";

@theme {
  /* Farben */
  --color-bg: #f7f3ef;
  --color-card: #fffaf5;
  --color-accent: #d57a66;
  --color-accent-dark: #b85c38;
  --color-olive: #a3a380;
  --color-text: #4a3f35;
  --color-mahagoni: #38040e;

  /*  Schriftarten */
  --font-display: "Helvetica Neue", "Inter", sans-serif;
  --font-body: "Inter", sans-serif;

  /*  Abstände */
  --radius-card: 1.5rem;
  --radius-button: 0.75rem;
}
